$c-grey: #f3f3f3;
$c-grey-light: #e7e7e7;
$c-brown: #2b0514;

.wrapper {
  min-height: 100vh;
  width: 100%;
  background: $c-grey-light;
  display: flex;
  flex-direction: column;
}
.header,
.footer {
  height: 50px;
  background: #666;
  color: #fff;
}
.content {
  display: flex;
  flex: 1;
  background: #999;
  color: #000;
}
.columns {
  display: flex;
  flex: 1;
}
.main {
  flex: 1;
  order: 2;
  background: $c-grey-light;
}
.sidebar-first {
  width: 240px;
  background: $c-brown;
  order: 1;
}
.sidebar-second {
  width: 311px;
  order: 3;
  background: $c-grey-light;
}

// generate Flexbox grow-rate utility classes
@for $i from 1 through 10 {
  .u-Flex-grow#{$i} {
    flex-grow: i;
  }
}
